<h1>入力画面</h1>

<% if @page.errors.any? %>
      
<span class="badge"><%= @page.errors.count %>件正しく入力されていません</span>
       <!-- ここでeachメソッドを用いて、エラーメッセージを表示させてください。 -->
<% @page.errors.full_messages.each do |message| %>
       <li class="errors">
        <p class="text-left"> <%= message %></p> 
        </li>
       <% end %>
 <% end %>
<%= form_for (@page),url:page_confirm_path do |f| %>
<ul>
   <%= f.label :タイトル %>
  <li><%= f.text_field :title %></li>
   
 <%= f.label :本文 %>
  <li><%= f.text_area :content %></li>
   
<%= f.label :メールアドレス %>
  <li><%= f.email_field :email %></li>

  <li><%= f.submit "送信" %></li>
</ul>
<% end %>